@tailwind base;
@tailwind components;
@tailwind utilities;

/* swiper slide and active slide color control */
.swiper-slide {
  border-radius: 20px;
  overflow: hidden;
}

.swiper-slide::before {
  transition: 0.5s;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.swiper-slide-active::before {
  background-color: unset;
}
